/*  
Theme Name: Ocean Mist
Theme URI: http://www.edmerritt.com/
Description: A smooth and subtle theme based on a strict grid.
Version: 1.0
Author: Ed Merritt
Author URI: http://www.edmerritt.com/
*/


/* layout */
* {font-size: 100%; margin: 0; padding: 0; }
html {min-width: 780px;}
body {position: relative; background: url(images/bg_body.gif) top left repeat-x #9BC3D5; font: 70% Verdana, Arial, Helvetica, sans-serif; color: #4B5D67; text-align: center;line-height: 1.4em;}
#page {display: block; width: 750px; background: url(images/bg_main.gif) top repeat-y; text-align: left; margin: 0 auto;}
#header {float: left; display: block; width: 750px; background: url(images/bg_header.gif) top no-repeat; min-height: 355px; padding: 0;}
* html #header {height: 355px;}
#content {float: left; display: block; width: 543px; margin: -5px 0 0 7px;}
#sidebar {float: left; display: block; width: 193px; margin: -5px 0 0 0;}
* html #content, * html #sidebar {margin-top: -25px;}
.post {float: left; display: block; width: 543px; margin: 0;}
.page {float: left; display: block; width: 507px; margin: 0 0 0 18px;}
.archive {float: left; display: block; width: 507px; margin: 0 0 18px 18px; border-bottom: 1px solid #ccc;}
#sidebar .post {display: block; width: 157px; margin: 0 0 0 18px;}
.title {float: left; display: block; height: 40px; width: 543px; background: url(images/bg_h2.gif) bottom repeat-x #E2EBF8; margin: 0 0 18px 0;}
#sidebar .title {float: left; display: block; width: 193px; background: url(images/bg_h3.gif) bottom left repeat-x #CADFED;}
.entry {float: right; display: block; width: 400px; margin: 0 18px 0 0; line-height: 1.8em;}
.postinfo {float: left; display: block; width: 89px; margin: 0 0 0 18px;}
.archive .postinfo {margin-left: 0;}
.archive .entry {margin-right: 0px;}
* html .post, * html #sidebar .post, * html .archive, * html .postinfo  {margin-left: 0; position: relative; left: 18px;}
p.center { text-align: center; }
/* p img {float: left; margin: 0 18px 12px 0;} */

/* typography */
h1 {font: 2.2em Tahoma, Verdana, Arial, sans-serif; color: #fff; letter-spacing: -1px; padding: 45px 37px 0 37px; margin: 0 0 -5px 0;}
h1 a, h1 a:visited {color: #fff; text-decoration: none;}
.description { display: block; margin: 0 0 0 12px;}
#header .description {color: #CADFED; margin: 0 37px 25px 37px;}
.title h2 {font: 1.05em Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 9px 24px 12px 24px;}
#content .postwrapper .title h2 {font: 1.4em Arial, Helvetica, sans-serif; text-transform: none; background: url(images/icon_entry.gif) 24px 50% no-repeat; padding: 9px 100px 12px 42px;}
#sidebar .title h2 {font: 1.05em Arial, Helvetica, sans-serif; text-transform: uppercase; padding: 9px 0 12px 24px; background: none; color: #32474B;}
.title small {float: right; padding: 14px 24px 0 0; color: #67939B;}
h2 a, h2 a:visited {}
h3 {font: bold 1.2em Verdana, Arial, Helvetica, sans-serif;}
p {margin: 0 0 18px 0; padding: 0;}
.entry p { text-align: justify; }
.req {padding-left: 3px; color: #CC0000;}
blockquote {padding: 0 0 0 12px; border-left: 3px solid #ccc;}

/* lists */
ul {margin: 0 0 24px 6px;}
ol {margin: 0 0 24px 6px;}
ul li {margin: 0 24px 0 14px;}
ol li {margin: 0 24px 0 14px;}
.buttons {float: left; list-style: none; margin-left: 0; margin-bottom: 21px;}
.buttons li {float: left; margin: 0 18px 3px 0; padding: 0;}
.buttons ul {margin: 3px 0 0 0; list-style: none; padding-bottom: -3px;}
.buttons ul a, .buttons ul a:visited {padding: 4px 6px;}
* html .buttons li {margin: 0;}
.buttons a, .buttons a:visited {display: block; width: 145px; padding: 6px; text-align: center; background: url(images/menu.gif) bottom left no-repeat; border-top: 1px solid #D1E0F0;}
.buttons a:hover {background-position: bottom right;}
.catlist {float: left; list-style: none; margin: 0 0 18px 0;}
.catlist li {float: left; margin: 0 18px 0 0; border-bottom: 1px solid #CAD6E1;}
.catlist li:first-child, .catlist li:first-child+li, .catlist li:first-child+li+li {border-top: 1px solid #CAD6E1;}
.catlist a, .catlist a:visited {display: block; width: 145px; padding: 1px 6px 2px 6px; margin: 1px 0;}
.catlist a:hover {background: #F2F2F2;}
#themeswitcher {list-style: none; margin: 0 0 18px 0;}
#themeswitcher li {margin: 0;}
#sidelist {list-style: none;}
#sidelist li {margin: 0;}
#sidelist li li {margin: 0 24px 0 8px;}
#sidelist ul {list-style-type: disc; }


/* links */
a, a:visited {color: #9A1010; text-decoration: none;}
p a:hover, ul a:hover {background-color: #BFD3E0;}
#content p a:hover, #content ul a:hover {background-color: #E2EBF8;}


/* main image */
#mainpic {float: left; background: url(images/mainpic.jpg) no-repeat; display: block; width: 736px; height: 229px; margin: 0 7px; border-top: 3px solid #67939B; border-bottom: 3px solid #67939B;}


/* forms */
form {margin: 0 0 18px 0;}
form .postinfo .buttons a, form .postinfo .buttons a:visited { width: 80px; }
#searchsubmit {position: absolute;}
#s {width: 130px; padding: 2px; border: 1px solid #B9C3D1; background: #CAD6E1; color: #32474B; margin-right: 2px;}
select, .field {width: 157px; margin: 0 0 4px 0; color: #32474B;}
.field {padding: 2px; width: 80px;}
textarea {padding: 2px; width: 308px; font: 1em Verdana, Arial, Helvetica, sans-serif;}
select option {padding: 1px;}
#submit {padding: 3px;}


/* footer */
#footer {clear: both; display: block; width: 750px; background: url(images/bg_footer.gif) bottom no-repeat; border-bottom: 20px solid #9BC3D5; text-align: center;}
* html #footer {margin-top: 18px; position: relative; left: 7px;}
#footer-top {display: block; width: 750px; height: 15px; background: url(images/bg_footer-top.gif) top no-repeat;}
#footer p {color: #798892; padding: 0 37px 7px 37px;}
#footer a, #footer a:visited {color: #B05255;}


#weather-icon .weather_title { font-weight: bold; }
.backlink, .nextlink { padding-right: 18px; padding-left: 18px; padding-bottom: 18px; }
.backlink { float: left; }
.nextlink { float: right; }
.entry img { padding: 4px; margin: 4px -4px; border: thin solid gray; }
.entry img.wp-smiley { padding: 0; margin: 0; border: none; vertical-align: middle; }
.entry h1 { padding: 0; margin: 0; color: #4B5D67; }
